* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}

body {

}

.fa-angle-down {
    font-size: 1.1rem;
}
 
@mixin flexbox($flex-direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify;
    align-items: $align;
}

.navbar {   
    @include flexbox;
    font-size: 1.4rem;
    font-weight: 450;
    height: 60px;
    padding: 10px;
    box-shadow: 0px 1px 1px #ccc;

    &__list, &__btn-buy {
        margin: 0 auto;
    }

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        @include flexbox;
        position: relative;
        margin-left: 5px;
        padding: 5px;
        cursor: pointer;
        line-height: 1;

        &--has-submenu {
            &:hover .navbar__submenu {
                @include flexbox(column, flex-start, flex-start);
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }

    &__link {
        @include flexbox;
        text-decoration: none;
        color: #000;
    }

    &__icon {
        font-size: 1.1rem;
        margin-left: 5px;
    }

    &__btn-buy {
        @include flexbox;
        padding: 10px;
        width: 130px;
        border: none;
        border-radius: 3px;
        background-color: #754FFE;
        color: #fff; 
        font-weight: bold;
        cursor: pointer;
        i, span {
            margin: 2px auto;
            padding: 3px 1px;
        }
        i {
            font-size: 1rem;
        }
    }

    &__submenu {
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 0px 5px #000;
        border-radius: 5px;
        top: 100%;
        left: 0;
        width: 200%;
        z-index: 1000;

        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    
        &-title {
            padding: 10px;
            margin-top: 15px;
        }
    
        &-list {
            margin-bottom: 10px;
            list-style: none;
            width: 100%;
        }
    
        &-item {
            padding: 10px;
            &:hover {
                color: #754FFE;
                background-color: rgb(183, 232, 247);
            }
        }

        &-link {
            text-decoration: none;
        }
    }
}