@use '../abstracts' as *;

.components {
    @include flexbox(column, center, center);
    margin: 4rem 0;
    &__container {
        @include flexbox(column, center, center);
        width: 80%;
        background-color: $secondary-btn-hover;
        border-radius: 1rem;
        max-width: 30rem;
    }

    &__title, &__description {
        text-align: center;
        line-height: 1.5;
        padding: 1rem 2rem;
    }

    &__title {
        font-size: 1.5rem;
        margin-top: 4rem;
    }

    &__description {
        font-size: 1.3rem;
    }

    &__examples {
        margin-top: 3rem;
        @include flexbox(row, center, center);
        flex-wrap: wrap;
    }

    &__example {
        &-image {
            height: 12.5rem;
            width: 12.5rem;
        }
    }
}