@use '../abstracts' as *;

.community {
    @include flexbox(column, center, center);
    
    &__title {
        text-align: center;
        width: 65%;
        max-width: 25rem;
        font-size: 1.5rem;
    }

    &__title, &__reviews {
        margin: 1.2rem auto;
    }

    &__reviews {
        max-width: 70%;
        font-size: 1rem;
        @include flexbox(column, center, center);
    }

    &__stats, &__devs {
        color: $primary-color;
    }

    &__review {
        &-card {
            border: 0.06rem solid $review-card-border;
            border-radius: 0.6rem;
            padding: 1.2rem;
            max-width: 30rem;
        }

        &-title {
            margin: 0.9rem 0;
        }

        &-title, &-author {
            font-weight: 700;
        }
        
        &-comment {
            color: #64748b;
            line-height: 1.5;
        }

        &-feedback {
            @include flexbox(column, center, flex-start);
            margin-top: 1rem;
        }

        &-rating {
            margin-top: 0.4rem;
        }
    }

    &__star-icon {
        color: $star-color;
    }

}