@use '../abstracts' as *;

.dashboard {
    @include flexbox(column, center, center);
    margin: 3rem 0;

    &__info {
        align-self: flex-start;
        width: 80vw;
        margin-left: 2rem;
    }

    &__info, &__offers {
        padding: 4rem;
    }

    &__title {
        font-size: 2.5rem;
        margin: 1rem 0;
    }

    &__description {
        font-size: 1.5rem;
    }

    &__card {
        @include flexbox (column, center, center);
        width: 100%;
        max-width: 55rem;
        margin: 3rem 0;
        background-color: $secondary-btn-hover;
        border-radius: 1.6rem;
        border: 0.1rem solid $card-border;

        &-figure {
            width: 90%;
            padding: 2.3rem 0.1rem;
        }

        &-img {
            width: 100%;
            box-shadow: 0 0 0.5rem $card-border;
            border-radius: 0.8rem;
            background-position: center;
            background-size: cover;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.02);
                cursor: pointer;
            }
        }

        &-title {
            align-self: flex-start;
            font-weight: 700;
            font-size: 1.5rem;
            margin: 0 3rem;
            padding-bottom: 2rem;
        }
    }
}

@media(min-width: 768px) {
    .dashboard {
        &__info {
            width: 90vw;
            margin-left: 0;
        }

        &__title {
            font-size: 3rem;
        }

        &__card {
            max-width: 70rem;
        }
    }
}