@use '../abstracts' as *;

.dashboard {
    @include flexbox(column, center, center);
    margin: 3rem 0;
    &__info, &__offers {
        padding: 4rem;
    }

    &__title {
        font-size: 2.5rem;
        margin: 1rem 0;
    }

    &__description {
        font-size: 1.5rem;
    }
}