@use '../abstracts' as *;

.highlights {
    @include flexbox(column, center, center);
    &__heading {
        padding: 2rem;
        text-align: center;
        max-width: 50rem;
    }

    &__title {
        padding: 3rem;
        font-size: 3rem;
    }

    &__description {
        font-size: 1.8rem;
        color: $secondary-btn-color;
    }
}