@use '../abstracts' as *;

.highlights {
    @include flexbox(column, center, center);
    &__heading {
        padding: 2rem;
        text-align: center;
        max-width: 50rem;
    }

    &__title {
        padding: 3rem;
        font-size: 3rem;
    }

    &__description {
        font-size: 1.8rem;
        color: $secondary-btn-color;
    }

    &__features {
        @include flexbox(column, center, center);
    }

    &__feature {
        margin: 3rem;
        padding: 3rem;
        border: 0.1rem solid $border-color;
        border-radius: 1rem;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-1rem);
            box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
        }

        &-title {
            font-size: 1.8rem;
            margin: 1.5rem 0;
        }

        &-description {
            font-size: 1.5rem;
            color: $secondary-btn-color;
            line-height: 1.5;
        }

        &-icon {
            font-size: 3rem;
            margin-bottom: 2rem;
            color: $primary-color;
        }

        &-link {
            text-decoration: none;
            color: $primary-color;
        }
    }
}

@media (min-width: 576px) {
    .highlights {
        &__feature {
            width: 50rem;
            height: 22rem;
        }
    }
}

@media (min-width: 768px) {
    .highlights {
        &__heading {
            max-width: none;
            padding: 2rem 6rem;
        }

        &__features {
            @include flexbox(row, center, flex-start);
            flex-wrap: wrap;
        }

        &__feature {
            width: 20rem;
            height: auto;
            margin: 3rem 2.5rem;
        }
    }
}

@media (min-width: 992px) {
    .highlights {
        &__heading {
            max-width: none;
            padding: 2rem 4rem;
        }

        &__feature {
            width: 30rem;
            height: auto;
            margin: 3rem 1rem;
        }
    }
}

@media (min-width: 1200px) {
    .highlights {
        &__heading {
            max-width: 50rem;
            padding: 2rem;
        }

        &__feature {
            width: 37rem;
            height: auto;
            margin: 3rem 1rem;
        }
    }
}