@use '../abstracts' as *;

.landing {
    @include flexbox(column, center, center);
    &__info, &__offers {
        width: 90%;
    }

    &__offers {
        margin-top: 7rem;
        max-width: 50rem;
    }

    &__title {
        font-size: 2.5rem;
    }

    &__description {
        font-size: 1.5rem;
        margin: 1rem 0;
        line-height: 2.2rem;
    }

    &__card {
        @include flexbox (column, center, center);
        width: 100%;
        margin: 3rem 0;
        background-color: $secondary-btn-hover;
        border-radius: 1.6rem;
        border: 0.1rem solid $card-border;

        &-figure {
            width: 90%;
            padding: 2.3rem 0.1rem;
        }

        &-img {
            width: 100%;
            box-shadow: 0 0 0.5rem $card-border;
            border-radius: 0.8rem;
            background-position: center;
            background-size: cover;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.02);
                cursor: pointer;
            }
        }

        &-details {
            @include flexbox(row, space-between, center);
            width: 85%;
            margin-bottom: 2rem;
        }

        &-title {
            font-weight: 700;
            font-size: 1.5rem;
        }

        &-new {
            padding: 0.3rem 1rem;
            font-size: 1.1rem;
            background-color: $card-new-feature;
            color: $white-default;
            font-weight: 450;
            border-radius: 0.5rem;
        }
    }
}

@media (min-width: 768px) {
    .landing {
        
        &__info {
            width: 80%;
        }
        
        &__offers {
            max-width: 70rem;
            width: 100%;
        }
    }
}