@use '../abstracts' as *;

.navbar {
    position: relative;
    @include flexbox(column, center, center);
    min-height: 3.125rem;
    box-shadow: 0 0.06rem 0.06rem $box-shadow-color;
    transition: height 0.3s ease;

    &__logo {
        position: absolute;
        top: 0.9rem;
        left: 0.9rem;
        font-size: 0.8rem;
        z-index: 2;
    }

    &__burger-btn {
        position: absolute;
        top: 0.6rem;
        right: 0.6rem;
        border: 0.06rem solid $item-grey;
        border-radius: 0.3rem;
        width: 2.5rem;
        background-color: transparent;
        cursor: pointer;
    }

    &__burger-icon {
        color: $item-grey;
        font-size: 1.2rem;
        padding: 0.3rem;
    }

    &__btn-buy {
        margin: 0.3rem;
        @include btn-primary();
    }

    &__list {
        position: relative;
        margin-top: 3.1rem;
        display: block;
        width: 100%;
        background-color: $white-default;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
    }

    &__list.active {
        @include flexbox(column, flex-start, flex-start);
        max-height: 94rem;
    }

    &__item {
        position: relative;
        @include flexbox(column, flex-start, space-evenly);
        width: 100%;
        font-size: 0.9rem;
        padding: 0.6rem;
        color: $black-default;
        cursor: pointer;

        &--has-submenu.active {
            .navbar__submenu--bottom {
                @include flexbox(column, center, flex-start);
            }
        }

        &--logo {
            display: none;
        }
    }

    &__link {
        text-decoration: none;
        color: $black-default;
    }

    &__icon {
        position: absolute;
        right: 5%;
        font-size: 0.7rem;
    }

    &__submenu {
        position: relative;
        display: none;
        padding: 0.6rem;

        &--bottom, &--right, &--right-lowest {
            position: relative;
            background-color: $white-default;
            width: 100%;
            color: $black-default;
        }

        &-list {
            width: 100%;
        
            &--docs-list {
                list-style: none;
            }
        }

        &-item {
            @include flexbox(column, flex-start, flex-start);
            position: relative;
            width: 100%;
            font-size: 0.9rem;;
            padding: 0.5rem;
            color: $black-default;
            cursor: pointer;

            &--has-submenu.active {
                .navbar__submenu--right {
                    @include flexbox(column, center, flex-start);
                }
            }

            &--has-submenu-lowest.active {
                .navbar__submenu--right-lowest {
                    @include flexbox(column, center, flex-start);
                }
            }

            &-box {
                @include flexbox(row, flex-start, center);
                padding: 0.3rem;
                margin: 0.3rem;

                &-content {
                    margin-left: 0.9rem;
                }

                &-title {
                    font-weight: 600;
                    padding: 0.1rem;
                }

                &-description {
                    color: $item-grey;
                    padding: 0.1rem;
                }
            }
        }

        &-separator {
            border-bottom: $item-grey; 
            margin: 0.7rem auto;
            opacity: 1;
            width: 100%;
        }

        &-title--bottom, &-title--right {
            padding: 0.5rem;
            letter-spacing: 0.06rem;
            margin-top: 0.3rem;
            font-weight: 500;
            text-transform: uppercase;
        }

        &-title--bottom {
            color: $item-grey;
        }

        &-title--right {
            color: $black-default;
        }

        &-description {
            color: $item-grey;
            padding: 0.6rem;
        }

        &-angle-right-icon {
            font-size: 0.7rem;
        }

        &__icon, &-angle-right-icon {
            position: absolute;
            right: 5%;
        }

        &-docs-icon {
            color: $primary-color;
        }
    }

}

@media(min-width: 992px) {
    .navbar {
        @include flexbox(row, space-evenly, center);
        height: 4.3rem;
        padding: 0 1.25rem;
        box-shadow: 0 0.06rem 0.06rem $box-shadow-color;
        
        &__logo {
            display: none;
        }

        &__list {
            @include flexbox(row, flex-start, center);
            list-style: none;
            height: 4.3rem;
            margin: 0;
            padding: 0;
            overflow: visible;
            width: auto;
        }
    
        &__item {
            position: relative;
            @include flexbox(row, center, center);
            font-size: 0.8rem;
            font-weight: 500;
            color: $black-default;
            transition: color 0.3s ease;
            width: auto;
            cursor: pointer;
    
            &:hover {
                color: $primary-color; 
            }
    
            &--has-submenu {
                &:hover {
                    .navbar__submenu--bottom {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            &--logo {
                display: block;
            }
        }
    
        &__link {
            text-decoration: none;
            color: $black-default;
            transition: color 0.3s ease;
    
            &:hover {
                color: $primary-color; 
            }
        }
    
        &__icon {
            position: relative;
            right: 0;
            margin-left: 0.3rem;
        }
    
        &__angle-down-icon {
            font-size: 0.6rem;
        }
    
        &__submenu {
            position: absolute;
            @include flexbox(column, center, flex-start);
            background-color: $white-default;
            box-shadow: 0 0 0.3rem $box-shadow-color;
            border-radius: 0.3rem;
            z-index: 1000;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
            padding: 0;

            &--bottom {
                top: 100%;
                left: 10%;
                width: 200%;
                color: $black-default;
            }
    
            &--right, &--right-lowest {
                top: 0;
                left: 100%;
                width: 100%;
            }

            &-title--bottom, &-title--right {
                padding: 0.7rem;
                letter-spacing: 0.06rem;
                margin-top: 0.3rem;
                font-weight: 500;
                text-transform: uppercase;
            } 
    
            &-title--bottom {
                color: $item-grey;
            }
    
            &-title--right {
                color: $black-default;
            }
    
            &-description {
                color: $item-grey;
                padding: 0.6rem;
            }
    
            &-list {
                margin: 0;
                padding: 0;
                width: 100%;
                list-style: none;
                @include flexbox(column, center, flex-start);
    
                &--docs-list {
                    width: 100%;
                    list-style: none;
                    margin-top: 0.9rem;
                    padding: 0;
                }
            }
    
            &-item {
                position: relative;
                color: $black-default;
                transition: background-color 0.3s ease, color 0.3s ease;
                padding: 0.6rem;
                margin: 0;
                width: 100%;
                &:hover {
                    color: $primary-color;
                    background-color: $bg-hover;
                }
    
                &--has-submenu:hover {
                    .navbar__submenu--right {
                        opacity: 1;
                        visibility: visible;
                    }
                }
    
                &--has-submenu-lowest:hover {
                    .navbar__submenu--right-lowest {
                        opacity: 1;
                        visibility: visible;
                    }
                }
    
                &--docs-item {
                    padding: 0.6rem;
                    margin: 0;
                }
    
                &--docs-item:hover {
                    background-color: $bg-hover;
    
                    .navbar__submenu-item-box-description {
                        color: $black-default;
                    }
                }
    
                &-box {
                    @include flexbox(row, flex-start, center);
                    padding: 0.3rem;
                    margin: 0.3rem;
    
                    &-content {
                        margin-left: 0.9rem;
                    }
    
                    &-title {
                        font-weight: 600;
                        padding: 0.1rem;
                    }
    
                    &-description {
                        color: $item-grey;
                        padding: 0.1rem;
                    }
                }
            }
    
            &-angle-right-icon {
                position: absolute;
                right: 10%;
                color: $item-grey;
            }
    
            &--docs {
                width: 400%;
            }
    
    
            &-docs-icon {
                color: $primary-color;
                font-size: 1.25rem;
            }
    
            &-separator {
                border-bottom: $item-grey; 
                margin: 0.6rem auto;
                opacity: 1;
                width: 90%;
            }
        }
    
        &__btn-buy {
            margin-left: 15rem;
            @include btn-primary();
        }
    
        &__burger-btn {
            display: none;
        }
    
        &__burger-icon {
            font-size: 1.2rem;
            padding: 0.3rem;
        }
    }
}