$primary-color: #754ffe;
$primary-dark: #593cc1;
$primary-light: #e3dcff;
$secondary-color: #6343d8;
$white-default: #ffffff;
$black-default: #000000;
$box-shadow-color: #cccccc;
$item-grey: #64748b;
$bg-hover: #f1f5f9;
$border-color: #94a3b8;
$border-bottom-color: #cbd5e1;
$secondary-btn-color: #334155;
$secondary-btn-hover: #f1f5f9;
$star-color: #f59e0b;
$card-border: #ccc;
$card-new-feature: #008000;